.footer {
  background-color: $color-secondary;
  padding: 5rem 0;
  font-size: $default-font-size;
  color: $color-white;

  &__navigation {
    border-top: 1px solid $color-white;
    padding-top: 2rem; // Vertical space between border and li's below it
    display: inline-block; // Removes excess border length, because inline-block only uses as much...
    // ... width that is needed for its content (NOT 100%, unless needed)
    white-space: nowrap;

    @include respond(small-phone) {
      // When the screen width is LESS THAN 450px
      margin: 0 auto;
    }

    @include respond(phone) {
      // When the screen width is LESS THAN 600px
      //margin-left: 4rem;
      margin: 0 auto;
    }

    @include respond(tab-portrait) {
      margin-left: 4rem;
    }

    @include respond(tab-landscape) {
      margin-left: 4rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block; // Displays each li side by side

    &:not(:last-child) {
      margin-right: 1.5rem; // Space between each li except the last one
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none; // Removes underlines
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__copyright {
    border-top: 1px solid $color-white;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(small-phone) {
      // When the screen width is LESS THAN 450px
      margin: 0 auto;
    }

    @include respond(phone) {
      // When the screen width is LESS THAN 600px
      //margin-right: 5rem;
      margin: 0 auto;
    }

    @include respond(tab-portrait) {
      // When the screen width is LESS THAN 600px
      margin-right: 5rem;
    }
  }
}

// SOCIAL NAV
.social {
  &__navigation {
    //display: inline-block;
    white-space: nowrap;
    float: right;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block; // Displays each li side by side
    font-size: 2.5rem;

    &:not(:last-child) {
      margin-right: 1.5rem; // Space between each li except the last one
    }
  }

  &__link {
    &:link,
    &:visited {
      color: $color-white;
      //background: $color-bloomit-blue;
      text-decoration: none; // Removes undelines
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }
}
