RewriteEngine On

#To remove .php extension for a single file from url 

#RewriteRule ^contact$ contact.php [L]

#To remove all php file extensions from url

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]