.img-container {
  display: block;

  &__img1 {
    border-radius: $default-border-radius;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);

    @include respond(tab-portrait) {
      // width < 900px?
      width: 100%;
    }
  }

  &__meals {
    border-radius: $default-border-radius;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.35);

    @include respond(tiny-phone) {
      // width < 375
      width: 75%;
    }
  }
}
