.section-yourtrainer {
  padding: 8rem 0; // 100px top/bottom, 0 left/right
  background-color: $color-offwhite;
}

.section-workouts {
  padding: 8rem 0;
}

.section-mealplan {
  padding: 8rem 0;
  background-color: $color-offwhite;
}
